@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro&display=swap');
body {
    font-family: 'Anonymous Pro', monospace;
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: center;
    padding-top: 5%;
    padding-left: 8%;
    padding-right: 8%;
    margin-bottom:50px;
}
body {
    background-color: rgb(236, 236, 236);
}
p {
    font-size: 13pt;
}
ul {
    text-align: left;
    font-size: 12pt;
    list-style: none;
}
._footer {
    position: fixed;
    height: 50px;
    background-color: rgb(177, 177, 177);
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    text-align: center;
}
