body {
    font-family: monospace;
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: center;
    padding-top: 5%;
    margin-bottom:100px;
    background-color: rgb(255, 255, 255);
    color: rgb(60, 60, 60);
}
p {
    font-size: 13pt;
}
img {
 border-radius: 50%;
}
ul {
    text-align: left;
    font-size: 12pt;
    list-style: none;
}
._footer {
    position: fixed;
    background-color: rgb(21, 21, 21);
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 12pt;
    color: rgb(255, 255, 255);
}
